#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.modal-container {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white border p-8 w-96 max-h-[550px] overflow-y-auto shadow-md rounded-lg;
  border: none;
}

.modal-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50;
}